<div class="movie-banner">
<%= image_tag 'Cinema.png', :size => '400x400', class: "blink"%>
<%= form_tag movies_path, method: :get do %>
<div class ="search-tag">
  <%= text_field_tag :query,params[:query], class: "form-control", placeholder: "Find a movie"%><%= submit_tag "Search", class: "btn btn-outline-dark" %>
<% end %>
</div>
</div>

<div class="list-container">
<h1>Movies ðŸŽ¬</h1>
</div>


<div class="d-flex justify-content-around my-box-light flex-wrap mb-2">
<% @movies.each do |movie| %>
<div class="card">
  <div class="card-body">
   <%= image_tag movie.poster_url, alt: "movie poster" %>
  <div class ="box-1">
   <h5><%= movie.title %></h5>
   <p><%= "â­ï¸" *  movie.rating %></p>
   <p><%= movie.date %></p>
   </div>
  
  </div>
</div>
<% end %>
</div>


