<div class="movie-banner">
<%= image_tag 'Cinema.png', :size => '400x300' %>
<%= form_tag movies_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>

<div class="d-flex justify-content-around my-box-light flex-wrap mb-2">
<% @movies.each do |movie| %>
<div class="card">
  <div class="card-body">
  <div class ="box-1">
   <h5><%= movie.title %></h5>
   <p><%= "⭐️" *  movie.rating %></p>
   <p><%= movie.date %></p>
   </div>
   <%= image_tag movie.poster_url, alt: "movie poster" %>
  </div>
</div>
<% end %>
</div>
