<div class="card-category">
    <div class="movie_card" id="bright">
      <div class="info_section">
        <%# <%= link_to "x", bookmark_path(bookmark), method: :delete, class: "delete-move" %> 
        <div class="movie_header">
          <%= image_tag @movie.poster_url, alt: "movie poster", class: "locandina"%>
          <h1><%= @movie.title %></h1>
          <h4>2002, David Ayer</h4>
          <h4><%= "⭐️" * @movie.rating %></h4>
          <span class="minutes">117 min</span>
          <p class="type"> Biography, Crime, Drama</p>
        </div>
        <div class="movie-description">
          <div class="overview-text"><%= @movie.overview %></div>
        </div>
        <div class="movie_social">
          <%# <h6><i class="fas fa-quote-left"></i><%= bookmark.comment %>
        </div>
      </div>
      <div class="blur_back bright_back" style="background-image: url('<%= @movie.poster_url %>')"></div>
    </div>
</div>